### Q1) Write a function to multiply all the numbers in a list.

In [1]:

 
def multiply(*args) :
     

    result = 1
    for x in args:
         result = result * x
    return result

In [2]:
multiply(1,2,3,4,5)

120

### Q2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Enter num : "))
print(factorial(n))

Enter num : 6
720

### Q3) Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [4]:
string=input("Enter string:")
lcasecount=0
ucasecount=0
for i in string:
      if(i.islower()):
            lcasecount=lcasecount+1
      elif(i.isupper()):
            ucasecount=ucasecount+1
print("The number of lowercase characters is:")
print(lcasecount)
print("The number of uppercase characters is:")
print(ucasecount)

Enter string:Daniel David Thommana
The number of lowercase characters is:
16
The number of uppercase characters is:
3

### Q4) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [5]:
def unique_elements(mylist):
  x = []
  for a in mylist:
    if a not in x:
      x.append(a)
  return x

print(unique_elements([1,2,2,3,3,3,3,4,5,5,5,6,6,"daniel","dan","daniel"]))

[1, 2, 3, 4, 5, 6, 'daniel', 'dan']

### Q5) Write a Python program to print the even numbers from a given list.

In [6]:
numlist = [1,2,3,4,5,6,7,8,9,10,11,12] 
  
  
# we can also print even no's using lambda exp. 
even_nums = list(filter(lambda x: (x % 2 == 0), numlist))
  
print("Even numbers in the list: ", even_nums)

Even numbers in the list:  [2, 4, 6, 8, 10, 12]

### Q6) Write a function to remove all duplicates from a given string.

In [8]:
from collections import OrderedDict
def remove_duplicate(str1):
  return "".join(OrderedDict.fromkeys(str1))

s=  "danieldavidthommana"  
print(s) 
print("After removing duplicates: ",remove_duplicate(s))

danieldavidthommana
After removing duplicates:  danielvthom