In [64]:
import pandas as pd

In [65]:

# Load and view first few lines of dataset
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  500 non-null    int64
 1   gender      500 non-null    object
 2   major       500 non-null    object
 3   admitted    500 non-null    bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

### 1. Find out the following :-
* Proportion and admission rate for each gender.
* Proportion and admission rate for physics majors of each gender.
* Proportion and admission rate for chemistry majors of each gender.
* Admission rate for each major.

In [67]:
df.groupby(by=['gender', 'major','admitted']).agg(['count'])["student_id"]

                           count
gender major     admitted
female Chemistry False       175
                 True         51
       Physics   False         8
                 True         23
male   Chemistry False        16
                 True          2
       Physics   False       109
                 True        116

### 2. What proportion of female students are majoring in physics?

In [68]:
## proportion of female students  majoring in physics 
total_female = len(df.loc[df['gender'] == "female"])
print("Total Female:",total_female)

female_physics_major = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'female')])
print("Total Female_Physics_Major:",female_physics_major)

proportion_female_physics_major=female_physics_major/total_female
print('Proportion_Female_Physics_Major:',proportion_female_physics_major)

Total Female: 257
Total Female_Physics_Major: 31
Proportion_Female_Physics_Major: 0.12062256809338522

### 3. What proportion of male students are majoring in physics?

In [49]:
## proportion of male students  majoring in physics 
total_male = len(df.loc[df['gender'] == "male"])
print("Total male:",total_male)

male_physics_major = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'male')])
print("Total male_Physics_Major:",male_physics_major)

proportion_male_physics_major=male_physics_major/total_male
print('Proportion_male_Physics_Major:',proportion_male_physics_major)

Total male: 243
Total male_Physics_Major: 225
Proportion_male_Physics_Major: 0.9259259259259259

### 4. What is the admission rate for female physics majors?

In [69]:
## admission rate for female physics  majors
female_physics_major = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'female')])
print("Total Female_Physics_Major:",female_physics_major)
female_physics_major_admitted = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'female') & (df['admitted'] == True)])
print("Total Female_Physics_Major_Admitted:",female_physics_major_admitted)
admission_rate_female_physics_major = female_physics_major_admitted/female_physics_major
print('Admission rate_Female_Physics_Major:',admission_rate_female_physics_major)

Total Female_Physics_Major: 31
Total Female_Physics_Major_Admitted: 23
Admission rate_Female_Physics_Major: 0.7419354838709677

### 5. What is the admission rate for male physics majors?

In [70]:
## admission rate for male physics  majors
male_physics_major = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'male')])
print("Total male_Physics_Major:",male_physics_major)
male_physics_major_admitted = len(df['student_id'][(df['major'] == 'Physics') & (df['gender'] == 'male') & (df['admitted'] == True)])
print("Total male_Physics_Major_Admitted:",male_physics_major_admitted)
admission_rate_male_physics_major = male_physics_major_admitted/male_physics_major
print('Admission rate_male_Physics_Major:',admission_rate_male_physics_major)

Total male_Physics_Major: 225
Total male_Physics_Major_Admitted: 116
Admission rate_male_Physics_Major: 0.5155555555555555

### 6. What is the Proportion and admission rate for chemistry majors of each gender¶

In [71]:
## proportion of female students  majoring in chemistry 
total_female = len(df.loc[df['gender'] == "female"])
print("Total Female:",total_female)

female_chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'female')])
print("Total Female_chemistry_Major:",female_chemistry_major)

proportion_female_chemistry_major=female_chemistry_major/total_female
print('Proportion_Female_chemistry_Major:',proportion_female_chemistry_major)

Total Female: 257
Total Female_chemistry_Major: 226
Proportion_Female_chemistry_Major: 0.8793774319066148

In [72]:
## proportion of male students  majoring in chemistry 
total_male = len(df.loc[df['gender'] == "male"])
print("Total male:",total_male)

male_chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'male')])
print("Total male_chemistry_Major:",male_chemistry_major)

proportion_male_chemistry_major=male_chemistry_major/total_male
print('Proportion_male_chemistry_Major:',proportion_male_chemistry_major)

Total male: 243
Total male_chemistry_Major: 18
Proportion_male_chemistry_Major: 0.07407407407407407

In [74]:
## admission rate for female Chemistry majors
female_Chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'female')])
print("Total Female_Chemistry_Major:",female_Chemistry_major)
female_Chemistry_major_admitted = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'female') & (df['admitted'] == True)])
print("Total Female_Chemistry_Major_Admitted:",female_Chemistry_major_admitted)
admission_rate_female_Chemistry_major = female_Chemistry_major_admitted/female_Chemistry_major
print('Admission rate_Female_Chemistry_Major:',admission_rate_female_Chemistry_major)

Total Female_Chemistry_Major: 226
Total Female_Chemistry_Major_Admitted: 51
Admission rate_Female_Chemistry_Major: 0.22566371681415928

In [75]:
## admission rate for male Chemistry majors
male_Chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'male')])
print("Total male_Chemistry_Major:",male_Chemistry_major)
male_Chemistry_major_admitted = len(df['student_id'][(df['major'] == 'Chemistry') & (df['gender'] == 'male') & (df['admitted'] == True)])
print("Total male_Chemistry_Major_Admitted:",male_Chemistry_major_admitted)
admission_rate_male_Chemistry_major = male_Chemistry_major_admitted/male_Chemistry_major
print('Admission rate_male_Chemistry_Major:',admission_rate_male_Chemistry_major)

Total male_Chemistry_Major: 18
Total male_Chemistry_Major_Admitted: 2
Admission rate_male_Chemistry_Major: 0.1111111111111111

### 7. What is the total Admission rate for each major?

In [76]:
#Total Admission Rate Chemistry Major 
total_Chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry')])
print("Total_Chemistry_Major:",total_Chemistry_major)
admitted_Chemistry_major = len(df['student_id'][(df['major'] == 'Chemistry') & (df['admitted'] == True) ])
print("Admitted_Chemistry_Major:",admitted_Chemistry_major)
total_Admission_rate_Chemistry_Major= admitted_Chemistry_major/total_Chemistry_major
print("Total_Admission_rate_Chemistry_Major:",total_Admission_rate_Chemistry_Major)

Total_Chemistry_Major: 244
Admitted_Chemistry_Major: 53
Total_Admission_rate_Chemistry_Major: 0.21721311475409835

In [77]:
#Total Admission Rate Physics Major 
total_Physics_major = len(df['student_id'][(df['major'] == 'Physics')])
print("Total_Physics_Major:",total_Physics_major)
admitted_Physics_major = len(df['student_id'][(df['major'] == 'Physics') & (df['admitted'] == True) ])
print("Admitted_Physics_Major:",admitted_Physics_major)
total_Admission_rate_Physics_Major= admitted_Physics_major/total_Physics_major
print("Total_Admission_rate_Physics_Major:",total_Admission_rate_Physics_Major)

Total_Physics_Major: 256
Admitted_Physics_Major: 139
Total_Admission_rate_Physics_Major: 0.54296875